# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserdata
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store

# Archives
*.xcarchive

# Playground
timeline.xctimeline
playground.xcworkspace
